[Unit]
Description=Reflect-30 Telegram Bot
After=network.target

[Service]
# Modify these to match your user and installation path
User=ubuntu
WorkingDirectory=/home/ubuntu/Reflectbot
# Use the python interpreter from the virtual environment
ExecStart=/home/ubuntu/Reflectbot/venv/bin/python /home/ubuntu/Reflectbot/bot.py
Restart=always
RestartSec=10
EnvironmentFile=/home/ubuntu/Reflectbot/.env

[Install]
WantedBy=multi-user.target
